{% load static %}

<html>
    <head>
        <title>The Moonbeam Bakery</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Moonbeam</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">H O M E</a></li>
                <li><a href="#">M I S S I O N</a></li>
                <li><a href="#">P R O D U C T S</a></li>
                <li><a href="#">C O N T A C T</a></li>
              </ul>
            </div>
        </nav>       
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
                <h1><a href="/">Moonbeam</a></h1>
                <p>A natural delight</p>
        </div>        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">
            <div class="col-sm-4">
                <h3>Contact Us</h3>
                <br>
                <h4> Our address and contact info here.</h4>
            </div>
            <div class="col-sm-4">
                <h3>Connect</h3>
                <a href="#yourlinkhere" fa fa-facebook"></a>
                <a href="#yourlinkhere" fa fa-google"></a>
                <a href="#yourlinkhere" fa fa-twitter"></a>
            </div>
            <div class="col-sm-4">
                <img src="img/b.png" class="icon">
            </div>
        </footer>
    </body>    
</html>
