<!DOCTYPE HTML>
{% load static %}

<html lang="en">
<!-- HEAD SECTION IS BELOW-->
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Moonbeam Bakery</title>
      <script src="{% static 'js/blog.js' %}"></script>      
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Scroll reveal-->  
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="https://kit.fontawesome.com/c9fd48d565.js" crossorigin="anonymous"></script>    <!-- Scroll reveal-->  
      <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link rel="icon" type="image/png" href="{% static 'blog/images/favicon.png' %}"/>
    </head>

 
<!-- NAVBAR SECTION -->
  <body style="visibility: hidden;" onload="js_Load()">
    <div>
      <nav class="navbar navbar fixed-top navbar-expand-lg bg-custom justify-content-between " style="background-color: #f9ba32;">
          <a class="navbar-brand" href="{% url 'base' %}">          
            <img src="{% static 'blog/images/logo_blue.png' %}" width="40" height="40"alt="">
            Moonbeam</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" style="background-color: #2F3131;" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" ></i>        
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'shop' %}">Shop</a> 
              <!-- DROPDOWN MENU STUFF FOR PRODUCTS. YOU ALSO HAVE TO ADD SOME STUFF ABOVE
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
              -->
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" style="background-color: #F8F1E5;" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: #426E86;"type="submit">Search</button>
          </form>
          </div>
      </nav>
<!-- end navbar -->

<!-- DEAD LOGIN FOR BLOG POSTING FROM DJANGOGIRLS TUTORIAL SECTION IS BELOW-->
      <!-- <header>
        <div class="page-header">
          {% if user.is_authenticated %}
          <a href="{% url 'post_new' %}" class="top-menu"><span class=""></span></a>
          <a href="{% url 'post_draft_list' %}" class="top-menu"><span class=""></span></a>
          <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
          {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class=""></span></a>
          {% endif %}
        </div>
      </header> -->
<!-- end dead login -->

<!-- carousel -->
      <div class="container">
        <div class="overlay" style="white-space: nowrap;">
          <h1>Moonbeam</h1>
          <p style="font-size:4vw;">A natural delight</p>
        </div>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3800">
            <img class="d-block w-100" src="{% static 'blog/images/flower_mooncake.jpg' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <button href="{% url 'index' %}" type="button" class="btn btn-outline-info">Who we are</button>
            </div>
          </div>
          <div class="carousel-item" data-interval="3800" data-interval="">
            <img class="d-block w-100" src="{% static 'blog/images/black_filling_mooncake.jpg' %}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <button href="{% url 'index' %}" type="button" class="btn btn-outline-info">Shop for delicious mooncakes</button>
            </div>
          </div>
          <div class="carousel-item" data-interval="3800">
            <img class="d-block w-100" src="{% static 'blog/images/green_tea_mooncake.jpg' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <button href="{% url 'index' %}" type="button" class="btn btn-outline-info">Contact us</button>
            </div>
          </div>
        </div>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="fas fa-arrow-circle-right" aria-hidden="true"></span>
          <span class="sr-only btn-overlay">Next</span>
        </a>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="fas fa-arrow-circle-left" size="9x" aria-hidden="true"></span>
          <span class="sr-only btn-overlay">Previous</span>
        </a>
      </div>
<!-- end carousel -->

<!-- css grid -->
      <div class="grid">
        <div class="title">
          <h1>Welcome to Moonbeam, where the light shines bright.</h1>
        </div>        
        <div class="header">
          <h3>Our mooncakes light up the night, with a bite of delight.</h3>
        </div>        
        <div class="side-image">
          <img src="{% static 'blog/images/sliced_mooncake.jpg' %}" width="40" height="40"alt="">
        </div>  
        <div class="content">
          <h2>Check out our spotlight mooncake: Mojo Medjool</h2>      
          <p>Mojo Medjool is a vegetarian mooncake made from sweet medjool dates, which are known for their great flavor. They are 100% natural and packed with deliciousness.</p> 
        </div>     
        <div class="footer">
        </div>        
      </div>
<!-- end css grid -->

<!-- footer -->
  <footer>
    <div class="main-content">
      <div class="left box">
        <h2>Company</h2>
        <div class="content">
          <p>We strive to create delicious mooncakes made of all natural ingredients. All of our mooncakes are handcrafted and made with care.</p>
          <div class="social">
            <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
            <a href="#"><span class="fab fa-twitter" aria-hidden="true"></span></a>
            <a href="https://instagram.com/coding.np"><span class="fab fa-instagram" aria-hidden="true"></span></a>
            <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>

      <div class="center box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt" aria-hidden="true"></span>
            <span class="text">Birendranagar, Surkhet</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt" aria-hidden="true"></span>
            <span class="text">+089-765432100</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope" aria-hidden="true"></span>
            <span class="text">abc@example.com</span>
          </div>
        </div>
      </div>

      <!-- contact form -->
      <div class="right box">
        <h2>Contact us - {{ name }}</h2>
        <p> this {{name}}</p>
        <div class="content">
          <form action="{% url 'base' %}" method="post">
            {% csrf_token %}
            <div class="name">
              <input type ="text" name="name" class="form-control mb-30" placeholder="Your Name">
            </div>
            <div class="email">
              <input class="form-control mb 30" type="email" required="" name="email" placeholder="Your Email">
            </div>
            <div class="msg">
              <textarea class="form-control mb 30" rows="2" cols="25" required="" name="message" placeholder="Your Message"></textarea>
            </div>
            <div class="btn">
              <button type="submit" value="POST">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end contact form -->
    <div class="bottom">
      <center>
        <span class="credit">Created by Maribelle C. | </span>
        <span class="far fa-copyright" aria-hidden="true"></span><span> 2020 All rights reserved.</span>
      </center>
    </div>
  </footer>
<!-- end footer -->


</body></html>

<!-- BOOTSTRAP FILES THAT MUST GO IN THIS ORDER DIRECTLY BEFORE </body> SECTION IS BELOW-->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>        
      <script src="{% static 'js/blog.js' %}"></script>
  </body>    
</html>

