<!DOCTYPE HTML>
{% load static %}

<html>
    <!-- HEAD SECTION IS BELOW-->
    <head>
      <title>The Moonbeam Bakery</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

    <!-- NAVBAR SECTION IS BELOW-->

  <body>
    <div>
      <nav class="navbar navbar fixed-top navbar-expand-lg navbar-light justify-content-between" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="{% url 'post_list' %}">Moonbeam</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}"> H O M E <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}"> A B O U T</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link" href="{% url 'shop' %}">S H O P</a> 
              <!-- DROPDOWN MENU STUFF FOR PRODUCTS. YOU ALSO HAVE TO ADD SOME STUFF ABOVE
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
              -->
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">C O N T A C T</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          </div>
      </nav>

      <!-- DEAD LOGIN FOR BLOG POSTING FROM DJANGOGIRLS TUTORIAL SECTION IS BELOW-->

      <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class=""></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class=""></span></a>
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class=""></span></a>
        {% endif %}
        <h1><a href="/">Moonbeam</a></h1>
        <p>A natural delight</p>
      </div>
      <div class="sub-page-header">
        <h1>Contact</h1>
      </div>
  
      <!-- FOOTER SECTION IS BELOW-->
    <!-- FOOTER IS NOT READY YET:
      <footer class="container-fluid text-center">
          <div class="col-sm-4">
              <h3>Contact Us</h3>
              <br>
              <h4> Our address and contact info here.</h4>
          </div>
          <div class="col-sm-4">
              <h3>Connect</h3>
              <a href="#yourlinkhere" fa fa-facebook"></a>
              <a href="#yourlinkhere" fa fa-google"></a>
              <a href="#yourlinkhere" fa fa-twitter"></a>
          </div>
          <div class="col-sm-4">
              <img src="img/b.png" class="icon">
          </div>
      </footer>
    -->
  <!-- BOOTSTRAP FILES THAT MUST GO DIRECTLY BEFORE </body> SECTION IS BELOW-->

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>        
  </body>    
</html>