body, p {
    font-family: 'Lora', serif;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 8vw;
}

/* carousel */
.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    width: 100%;
    transition: transform 5s ease, opacity 3s ease-out;
}

.carousel-inner {
    /* make sure your .items will get correct height */
    height: 100%;
}

.carousel-item {
    position: relative !important;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.carousel-item::after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #2f313138; /*changes background overlay carousel color */
  }

.item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-item h1{
    /* header size and color on the carousel */
    font-family: 'Montserrat', sans-serif;
}

.overlay { 
    position: absolute;
    z-index:12; 
    left: 13%; /* how far from the left the carousel heading is */
    top: 16%; /* how far from the top the carousel heading is */
    width: 74vw; /* how large the carousel heading container is */
    text-align: center;
    padding: 0;
    margin: 0;
    background: #426e86af; /*color of the background of the heading in the carousel */
    border-radius: 6px;
    padding: 1vw;
}

.overlay h1{ /* font size, color, and text align of carousel title */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11vw;
    color: #F8F1E5;
}

.overlay p{ /* font size, color, text shadow, text algin of sub carousel title */
    font-size: 5rem;
    color: #DBB04AFF;
    padding: 0;
    margin: 0;
    text-shadow: #97B3D0FF;
    text-align: center;
}

.carousel-item .btn:hover{
    border-color: #f9ba32; /* color of outline of 'Who we are' button while transition */
    background-color: #426e86; /* background color of 'who we are' button while transition*/
    color: #F8F1E5; /* font color of 'who we are' button while transition */
}

.carousel-item .btn{ 
    background-color: #f9ba32ad; /* background color of button in carousel*/
    color: #2f3131; /* font color of button in carousel*/
    text-emphasis: bold; 
    font-size: 20px; /* font size of text in button in carousel*/
    border-color: transparent; /* border color of button in carousel */
    border-radius: 4rem; /* border rounded of button in carousel */
    padding: 20px 30px !important; /* padding of button in carousel */
    text-align: center;
}

.carousel-caption { /* positioning the buttons on carousel */
    left: center;
    top: 60%;
}
/* end carousel */



/* navbar */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; 
    padding: 10px !important; /* padding on navbar */
    opacity: 0.95; /* opacity of navbar*/
}

.form-inline{
    color: #164155 !important; /* color for navbar icons" */
    font-family: 'Raleway', sans-serif; /* font for rest of navbar buttons" */
}

.navbar .nav-link{
    color: #426e86;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #2f3131 /* font for brand "Moonbeam" */
}
.navbar-toggler:hover {
    border-color: #426e86; /* border/outline of navbar toggler while hover */
}

.fas{
    color: #F8F1E5; /* color for the navbar icon (3 lines for toggler)*/
}

body { 
    padding-top: 60px; /* prevents navbar overlapping on body */
}

.navbar-toggler .button:hover{
    border-color: #2f3131; /* color of outline of search button while transition */
    color: #eaf8f8; /* font color of 'who we are' button */
    background-color: #f9ba32; /* background color of 'who we are' button */
}

.btn-outline-success{
    color: #F8F1E5; /* color of the text "search" */
    border-color: #f9ba32; /* border/outline of search box button */
    border-radius: 4rem;
}

.form-control{
    border-radius: 5rem;
}

/* end navbar
The background color of the navbar is in the nav class through "style"
The background color of the navbar toggler is also in the nav class through "style"
The background color of the search button is also in the nav class through "style"
*/




/* page header */
.page-header { /* background color, text align of header */
    background-color: #164155;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    /* color, font size, text align of h1 in page header*/
    color: #ffffff;
    font-size: 70pt;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
}

.page-header p, .page-header p a, .page-header p a:visited, .page-header p a:active {
    /* color, font size, text align of p in page header*/
    color: #ffffff;
    font-size: 20pt;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*font changes*/
.navbar a, .carousel-item .btn, .btn-outline-success, .form-control{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #2f3131;
    
}





/* end page header */



/* unused blog post css */
/* .date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
} */

/* end unused blog post css */

