.page-header {
    background-color: #164155;
    margin-top: 0px;
    padding: 400px, 10px, 200px, 10px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 100pt;
    text-decoration: none;
    text-align: center;
    padding-top: 200px;
}

.page-header p, .page-header p a, .page-header p a:visited, .page-header p a:active {
    color: #ffffff;
    font-size: 20pt;
    text-align: center;
}

.sub-page-header h3 {
    color: #164155;
    font-size: 20pt;
    text-align: center;
    padding-top: 20px;
    font-family: 'Dancing Script', cursive;
}
.content {
    margin-left: 40px;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

.page-header p {
    font-family: 'Montserrat', sans-serif;
    color: #f8ca4d;
    padding-bottom: 50px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.navbar .nav { 
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    color: #164155;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding: 10px !important;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler-collapsed, .nav .navbar .navbar-toggler{
    color: #164155 !important;
}

.navbar .nav .form-inline my-w my-lg-0{
    color: #164155 !important;

}

body { padding-top: 60px; }

header { padding-top: 60px; }
